extends ../main

append vars
    -var lang = "fr"
    -var id = "blog"
    -basedir = `../../${basedir}`
    -var page = pages[lang].find(page => page.id === name)

block meta
    -var metaTitle = page.title
    -var metaDescription = page.description
    -var metaKeywords = page.keywords

block headerlinks
    +Menu({activePath: page.link})
    +Translate({translations:page.translations})