
extends ./_blog

append vars
    -var id = "post"
    -basedir = `../${basedir}`
    -var article = articles[lang].find(article => article.id === name)

block meta
    -var metaTitle = article.title
    -var metaDescription = article.description
    -var metaKeywords = article.keywords

block headerlinks
    +Menu({activePath: article.link})
    +Translate({translations: article.translations})

block content
    div(class=`${prefix}-markdown`)
        block markdown
