extends ../../../layouts/en/_blog

append name
    -var name = "blog"

block content
    h1 my Blog page
    each article in articles[lang]
        h2 #{article.title}
            a(href=article.link) read more >