extends ../../../layouts/en/_blog

append name
    -var name = "blog"

block content
    h1.sg-title my Blog page
    each article in articles[lang]
        -const {title,description,link} = article
        article
            a(href=link title=title)
                h2.sg-title #{title}
            p #{description}