extends ./_layout

append vars
    include partials/_vars

block meta
    include partials/_meta

block headerlinks
    +Translate({translations})

block menu
    +Menu({})
block content
    h1 mon Blog 2
    each article in articles[lang]
        h2 #{article.title}
            a(href=article.link) read more >