.#{$prefix} {
  &-header {
    background: transparent;
    color: $white;
    border: 0;
    height: $header-height;
    &__name-link {
      @include hcenterer;
      top: 0;
      text-align: center;
    }
  }
}
