+Header({ basedir, pathImg, link: { href:basedir, title:"Retour à l'accueil"}, logo: { title:'Samuel Gomez', subtitle:'Design System', img: "slash-logo.svg", alt: 'slash design system', modifier:'header' } })
  block headerlinks