.#{$prefix} {
  &-technos {
    background: $white;
    color: $black;
    &__nav {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      text-align: center;
      padding: 4rem 0 2rem 0;
      @media screen and (max-width: 640px) {
        grid-template-columns: repeat(6, 1fr);
      }
    }
    &-article {
      display: none;
      &--active {
        display: flex;
        flex-direction: column;
        padding: 2rem;
        text-align: center;
      }
      &__title {
        font-size: 4rem;
        margin-bottom: 2rem;
        font-weight: 100;
        letter-spacing: -2px;
        color: $color-gray;
        strong {
          font-weight: 900;
          color: $color-darkgray;
        }
      }
      &__content {
        font-size: 2rem;
        width: 60%;
        margin: 1rem auto 2rem auto;
      }
    }
    &__icon {
      width: 80px;
      height: 80px;
      cursor: pointer;
      filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.3));
      transition: all 0.3s ease-in-out;
      &:hover,
      &:focus,
      &--active {
        fill: $color-technos-active;
        width: 100px;
        height: 100px;
        transform: translateY(-10px);
        filter: drop-shadow(3px 3px 5px rgba(161, 0, 54, 0.7));
      }
    }
  }
}
