.#{$prefix} {
  &-home {
    &__bubbles {
      margin-top: 10em;
      display: flex;
      align-content: center;
      justify-content: space-evenly;
    }
  }
  &-content {
    &--home {
    }
  }
}
