.#{$prefix} {
  &-home {
    &__bubbles {
      margin-top: 30vh;
      display: flex;
      align-content: center;
      justify-content: space-evenly;
    }
  }
  &-ray,
  &-smoke {
    position: fixed;
    width: 100%;
  }
  &-content {
    &--home {
    }
  }
  &-body {
    &--uxdesign {
      background-image: radial-gradient(
          ellipse at 0% 0%,
          rgba(107, 240, 255, 0) 0%,
          transparent 100%
        ),
        radial-gradient(ellipse at 100% 0%, #4e00ff 0%, rgba(0, 0, 0, 0.3) 70%),
        radial-gradient(ellipse at 0% 100%, #ff00dc 0%, rgba(0, 0, 0, 0.3) 70%),
        radial-gradient(
          ellipse at 100% 100%,
          rgba(255, 185, 124, 0) 0%,
          transparent 100%
        ),
        radial-gradient(
          ellipse at center,
          transparent 0%,
          rgba(0, 0, 0, 0.5) 50%
        );
    }
    &--development {
      background-image: radial-gradient(
          ellipse at 0% 0%,
          rgba(107, 240, 255, 0) 0%,
          transparent 100%
        ),
        radial-gradient(
          ellipse at 100% 0%,
          rgba(0, 173, 254, 0.8) 0%,
          rgb(0, 78, 255) 70%
        ),
        radial-gradient(
          ellipse at 0% 100%,
          rgb(0, 250, 194) 0%,
          rgb(6, 251, 131) 70%
        ),
        radial-gradient(
          ellipse at 100% 100%,
          rgba(255, 185, 124, 0) 0%,
          transparent 100%
        ),
        radial-gradient(
          ellipse at center,
          transparent 0%,
          rgba(0, 0, 0, 0.5) 50%
        );
    }
    &--opensource {
      background-image: radial-gradient(
          ellipse at 0% 0%,
          rgba(107, 240, 255, 0) 0%,
          transparent 100%
        ),
        radial-gradient(ellipse at 100% 0%, #ff00bf 0%, rgba(0, 0, 0, 0.3) 70%),
        radial-gradient(ellipse at 0% 100%, #f00 0%, rgb(255, 0, 0) 70%),
        radial-gradient(
          ellipse at 100% 100%,
          rgba(255, 185, 124, 0) 0%,
          transparent 100%
        ),
        radial-gradient(
          ellipse at center,
          transparent 0%,
          rgba(0, 0, 0, 0.5) 50%
        );
    }
  }
}
