.#{$prefix} {
  &-home {
    &__bubbles {
      padding: 30vh 0 40vh 0;
      display: flex;
      align-content: center;
      justify-content: space-evenly;
      position: relative;
      &--active {
        justify-content: center;
        .#{$prefix} {
          &-icon--closeBubble {
            opacity: 1;
            animation: fadein 0.5s linear;
          }
        }
      }
    }
  }
  &-ray,
  &-smoke {
    position: fixed;
    width: 100%;
  }

  &-body {
    &--uxdesign {
      background-image: radial-gradient(
          ellipse at 0% 0%,
          rgba(107, 240, 255, 0) 0%,
          transparent 100%
        ),
        radial-gradient(ellipse at 100% 0%, #4e00ff 0%, rgba(0, 0, 0, 0.3) 70%),
        radial-gradient(ellipse at 0% 100%, #ff00dc 0%, rgba(0, 0, 0, 0.3) 70%),
        radial-gradient(
          ellipse at 100% 100%,
          rgba(255, 185, 124, 0) 0%,
          transparent 100%
        ),
        radial-gradient(
          ellipse at center,
          transparent 0%,
          rgba(0, 0, 0, 0.5) 50%
        );
    }
    &--development {
      background-image: radial-gradient(
          ellipse at 0% 0%,
          rgba(107, 240, 255, 0) 0%,
          transparent 100%
        ),
        radial-gradient(
          ellipse at 100% 0%,
          rgba(0, 173, 254, 0.8) 0%,
          rgb(0, 78, 255) 70%
        ),
        radial-gradient(
          ellipse at 0% 100%,
          rgb(0, 250, 194) 0%,
          rgb(6, 251, 131) 70%
        ),
        radial-gradient(
          ellipse at 100% 100%,
          rgba(255, 185, 124, 0) 0%,
          transparent 100%
        ),
        radial-gradient(
          ellipse at center,
          transparent 0%,
          rgba(0, 0, 0, 0.5) 50%
        );
    }
    &--opensource {
      background-image: radial-gradient(
          ellipse at 0% 0%,
          rgba(107, 240, 255, 0) 0%,
          transparent 100%
        ),
        radial-gradient(ellipse at 100% 0%, #ff00bf 0%, rgba(0, 0, 0, 0.3) 70%),
        radial-gradient(ellipse at 0% 100%, #f00 0%, rgb(255, 0, 0) 70%),
        radial-gradient(
          ellipse at 100% 100%,
          rgba(255, 185, 124, 0) 0%,
          transparent 100%
        ),
        radial-gradient(
          ellipse at center,
          transparent 0%,
          rgba(0, 0, 0, 0.5) 50%
        );
    }
  }

  &-site--home {
    z-index: 5;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 0 500px 100px rgba(0, 0, 0, 0.8) inset;
    background: transparent;
  }

  &-icon--closeBubble {
    cursor: pointer;
    opacity: 0;
    position: absolute;
    right: 5%;
    fill: $white;
  }

  &-article-text {
    &--home-react {
      height: 200px;
      position: relative;
      background: $white;
      color: $color-darkgray;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 100px;
      &::before {
        position: absolute;
        top: -83px;
        left: 0;
        content: '';
        display: block;
        height: 83px;
        width: 100%;
        background: transparent url('./assets/images/home/wave.svg') repeat-x;
        z-index: -1;
        background-position-x: 0;
        animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
      }
      &::after {
        position: absolute;
        bottom: -83px;
        left: 0;
        content: '';
        display: block;
        height: 83px;
        width: 100%;
        background: transparent url('./assets/images/home/wave.svg') repeat-x;
        animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite reverse;
        transform: rotate(180deg);
        z-index: -1;
      }
      .#{$prefix} {
        &-article-text {
          &__content {
            background: $white;
            flex-basis: 30%;
          }
          &__title {
            font-size: 3rem;
            font-weight: 200;
            letter-spacing: -3px;
            strong {
              font-weight: 900;
            }
          }
          &__intro {
            font-size: 1.3rem;
            font-weight: 300;
            letter-spacing: -1px;
            strong {
              font-weight: 600;
            }
          }
        }
      }
    }
  }
  &-img {
    &--home-react {
    }
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes wave {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: -1600px;
  }
}
