.#{$prefix} {
  &-html {
    font-size: 1rem;
    font-family: $font-family-base;
    color: $white;
    letter-spacing: 0.01em;
    min-width: $width-mobile;
  }
}
a {
  color: $white;
}
.#{$prefix} {
  &-body {
    height: 100vh;
    background-image: radial-gradient(
        ellipse at 0% 0%,
        rgba(107, 240, 255, 0) 0%,
        transparent 100%
      ),
      radial-gradient(
        ellipse at 100% 0%,
        rgba(0, 173, 254, 0.8) 0%,
        rgba(0, 0, 0, 0.3) 70%
      ),
      radial-gradient(
        ellipse at 0% 100%,
        rgba(0, 250, 194, 0.8) 0%,
        rgba(0, 0, 0, 0.3) 70%
      ),
      radial-gradient(
        ellipse at 100% 100%,
        rgba(255, 185, 124, 0) 0%,
        transparent 100%
      ),
      radial-gradient(ellipse at center, transparent 0%, rgba(0, 0, 0, 0.5) 50%);
  }
  &-site {
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 0 500px 100px rgba(0, 0, 0, 0.8) inset;
    background: transparent;
  }
}

@media screen and (min-width: 980px) {
  .#{$prefix} {
    &-body {
    }
  }
}

/* TODO A reporter sur le toolkit */

.af-container {
  //@include make-container-max-widths();
  padding: 0 2em;
  margin: 0 auto;
}
