extends ../../../layouts/fr/_blog

append name
    -var name = "blog"

block content
    h1(class=`${prefix}-${id}__title`) Blog personnel de Samuel Gomez
    each article in articles[lang]
        +ArticleText({ modifier:'blog', title: article.title, text: article.intro, link: { href: article.link } })
