extends ../../../layouts/fr/_blog

append name
    -var name = "blog"

block content
    h1 mon Blog en français
    each article in articles[lang]
        h2.af_title #{article.title}
        +Link({ label: 'En savoir plus >', href: article.link})
