.#{$prefix} {
  &-hero {
    margin: 15rem 0;
  }
  &-article-text {
    &--hero {
      height: 200px;
      position: relative;
      background: $white;
      color: $color-darkgray;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 100px;
      &::before {
        position: absolute;
        top: -83px;
        left: 0;
        content: '';
        display: block;
        height: 83px;
        width: 100%;
        background: transparent url('./assets/images/home/wave.svg') repeat-x;
        z-index: -1;
        background-position-x: 0;
        animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
      }
      &::after {
        position: absolute;
        bottom: -83px;
        left: 0;
        content: '';
        display: block;
        height: 83px;
        width: 100%;
        background-size: 50%;
        background: transparent url('./assets/images/home/wave.svg') repeat-x;
        animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite reverse;
        transform: rotate(180deg);
        z-index: -1;
      }
      .#{$prefix} {
        &-article-text {
          &__content {
            background: $white;
            flex-basis: 30%;
            display: flex;
            flex-direction: column;
          }
          &__title {
            font-size: 3rem;
            font-weight: 200;
            letter-spacing: -3px;
            line-height: 80%;
            strong {
              font-weight: 900;
            }
            a {
              color: $color-darkgray;
            }
          }
          &__intro {
            font-size: 1.3rem;
            font-weight: 300;
            letter-spacing: -1px;
            strong {
              font-weight: 600;
            }
            p {
              margin-bottom: 0.5rem;
            }
          }
        }
      }
    }
  }
  &-link {
    &--hero {
      background: $color-redpink;
      box-shadow: 0 10px 15px 0 $color-redpinkalpha;
      color: $white;
      border-radius: 50px;
      display: inline-flex;
      align-self: flex-end;
    }
  }
}

@keyframes wave {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: -1600px;
  }
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
